*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
}

/* apresentação ganesh - início */
.background_ganesh{
    width: 100%;
    margin: auto;
    position: absolute;
    z-index: -1000;
    top: 0;
    opacity: 30%;
}
.apresentacao_ganesh{
    margin: auto;
    width: 100%;
    justify-content: center;
    display: grid;
}
.apresentacao_ganesh article{
    display: grid;
    justify-content: center;
    margin: 0 auto 10vh auto;
    align-items: center;
    text-align: center;
    gap: 2vh;
}
.apresentacao_ganesh article img{
    width: 22vw;
    margin: auto;
}
.apresentacao_ganesh article h1{
    font-size: 45px;
}

.faixa_mensagem{
    padding-top: 2vh;
    padding-bottom: 2vh;
    width: 100%;
    background-color: #42daa2;
    text-align: center;
}
.faixa_mensagem h2{
    color: black;
}
/* apresentação ganesh - fim */

/* Nossa excelência - início */
.nossa_excelencia{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 8vh;
    margin: auto;
    padding: 15vh 0vh 28vh 0vh;
    background-color: black;
}
.nossa_excelencia article{
    width: 30.5vw;
}
.nossa_excelencia article h1{
    color: white;
    margin-bottom: 3vh;
}
.cor_ganesh{
    color: #42daa2;
}
.article_p_excelencia{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.p_esquerda{
    align-self: flex-start;
}
.p_meio{
    align-self: center;
}
.p_direita{
    align-self: flex-end;
}
.article_p_excelencia p{
    padding: 3vh 2vw;
    border-radius: 0 20px;
    border: white solid 3px;
    text-align: center;
    width: fit-content;
    transition: all 0.2s ease;
}
.article_p_excelencia p:hover{
    color: #42daa2;
    border: #42daa2 solid 3px;
    padding: 3.3vh 2.5vw;
}
/* Nossa excelência - fim */

/* Patrocinadores - início */
    .patrocinadores{
        width: 40vw;
        margin: -15vh auto auto auto;
        align-self: center;
        background-color: #42daa2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 20px 0;
        padding: 5vh;
        position: absolute; 
        left: 50%;
        transform: translate(-50%, 0);
        gap: 5vh;
        z-index: 999;
    }
    .patrocinadores h1{
        color: black;
    }
    .patrocinadores article{
        display: flex;
        align-items: center;
        gap: 3vw;
    }
    .patrocinador1{
        height: 80px;
    }
    .patrocinador2{
        height: 40px;
    }
/* Patrocinadores - fim */

/* Áreas de estudo - início */
.areas_de_estudo{
    display: grid;
}
.areas_de_estudo video{
    opacity: 10%;
    z-index: -1000;
    position: absolute;
    width: 100%;
    margin: auto;
    align-items: center;
}
.degrade{
    background-image: linear-gradient(rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    width: 100%;
    height: 150px;
    position: absolute;
    z-index: -999;
}
.areas_de_estudo article{
    margin: 35vh auto 15vh auto;
    display: grid;
    width: 65vw;
    text-align: center;
}
.areas_de_estudo article h1{
    margin-bottom: 2vh;
}

.grafos_areas_de_estudo{
    display: flex;
    margin: 10vh 0 0 0 ;
    height: 40vh;
    position: relative;
}
.linha_grafos{
    position: absolute;
    height: 2px;
    background-color: #757575;
    transform-origin: 0 0;
    z-index: 1;
    pointer-events: none;
}
.grafo {
    transition: all 0.3s ease; /* Suaviza o movimento */
    position: absolute;
    transform: translate(-50%, -50%); /* Centraliza melhor */
}

.grafo{
    width: 10vh;
    height: 10vh;
    border-radius: 100px;
    border: none;
    background-color: #2e2c2f;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: all 0.2s ease;
    position: absolute;
    cursor: pointer;
    z-index: 2;
    transform: translate(-50%, -50%);   
}
.grafo img{
    width: 2vw;
    transition: all 0.2s ease;
}
.spans_grafos{
    position: absolute;
}

.areas_hover{
    display: none;
}
.grafo:nth-child(1){ top: 80%; left: 10%;}
.grafo:nth-child(2){ top: 20%; left: 30%;}
.grafo:nth-child(3){ top: 40%; left: 50%;}
.grafo:nth-child(4){ top: 10%; left: 70%;}
.grafo:nth-child(5){ top: 50%; left: 90%;}

.grafo:nth-child(1):hover{ top: 75%; left: 10%;}
.grafo:nth-child(2):hover{ top: 15%; left: 30%;}
.grafo:nth-child(3):hover{ top: 35%; left: 50%;}
.grafo:nth-child(4):hover{ top: 5%; left: 70%;}
.grafo:nth-child(5):hover{ top: 45%; left: 90%;}

.grafo:hover{
    width: 12vh;
    height: 12vh;
    background-color: #42daa2;
}
.grafo:hover img{
    width: 2.5vw;
}
.grafo:hover .areas_hover{
    display: block;
}
.grafo:hover .areas_img{
    display: none;
}

.grafo span{
    position: absolute;
    background-color: #42daa2;
    padding: 2vh;
    color: black;
    font-weight: 800;
    z-index: 3;
    border-radius: 20px 0;
    width: auto;
    transform: translate(6vw, -2vh);
    display: none;
    text-align: center;
    left: 0;
    width: auto;
}
.grafo:hover span{
    display: block;
}
/* Áreas de estudo - fim */